@import url('../fonts/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* color */
    --color-1: #fff;
    --color-2: #000;
    --color-main-1: #00305b;
    --color-main-2: #0f4c85;
    --color-main-3: #41b7c4;
    --color-main-4: #eaf4f6;
    --color-main-5: rgb(131, 183, 230);

    /* font-size*/
    --font-1: 16px;
    --font-2: 20px;
    --font-3: 42px;

    /* font-family */
    --font-family-1: sans-serif;
    --font-family-2: serif;

    /* global padding */
    --edge-indentation: 20px;
    --header-height: null;
}

html {
    scroll-behavior: smooth;
    scroll-padding-block-start: var(--header-height, 82px);
}

@media (max-width: 900px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-block-start: 0px;
    }
}

body {
    /* font-family: var(--font-family-1); */
    font-family: "raleway";
}

.disable-scroll {
    overflow: hidden;
}

.container {
    padding: 100px 0;
    /* overflow: hidden; */
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 var(--edge-indentation);
    overflow: hidden;
}

p,
a {
    font-size: var(--font-1);
    color: var(--color-main-1);
}

span {
    color: var(--color-1);
}

h2 {
    color: var(--color-main-1);
    font-size: var(--font-3);
    font-weight: 400;
    line-height: 1.166em;
    text-align: center;
}

h3 {
    color: var(--color-main-1);
    font-weight: 400;
    font-size: var(--font-2);
}

button {
    background-color: var(--color-main-2);
    color: var(--color-1);
    border: 2px solid var(--color-1);
}

button:hover {
    background-color: var(--color-main-1);
}

/* header */

header {
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: var(--color-1);
}

header .container {
    padding: 17px 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
    font-size: 1.4em;
    letter-spacing: .03em;
    font-family: "noticia";
}

.logo .icon {
    height: 38px;
    width: 38px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--color-main-1);
    border-right-color: transparent;
    border-top-color: var(--color-main-3);
}

.logo-mobile {
    display: none;
}

.nav-containeer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;
}

.nav-link {
    color: var(--color-2);
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 0;
    font-size: 13px;
}

.nav-link-active {
    color: var(--color-main-2);
}

.burger-container {
    display: none;
}


@media(max-width: 900px) {
    header {
        position: initial;
    }

    header .container {
        position: relative;
        min-width: 100%;
        transition: transform 1s;
        align-items: center;
        /* padding: 0; */
    }

    .nav-link {
        font-size: 18px;
        line-height: 3em;
    }

    .nav-containeer .bg {
        width: 100%;
        background-color: transparent;
    }

    .nav-containeer .bg-active {
        animation: showBackground 100ms linear forwards 200ms;
    }

    @keyframes showBackground {
        100% {
            background: rgba(0, 0, 0, 0.6);
        }
    }

    .nav-containeer nav {
        height: 100%;
        width: 100%;
        width: max-content;
        background-color: var(--color-1);
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
        padding-top: 120px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 80px;
    }

    .nav-containeer {
        width: 0%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 90;
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        overflow: hidden;
        transition: all 400ms;
        margin-left: auto;
    }

    .nav-containeer-active {
        width: 100%;
    }

    .burger-container {
        display: block;
        position: relative;
        z-index: 99;
        cursor: pointer;
        user-select: none;
    }

    .burger {
        height: 22px;
        width: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 330ms;
    }

    .burger span {
        display: inline-block;
        background-color: #000;
        width: 100%;
        height: 15%;
        border-radius: 3px;
        transition: all 330ms;
    }

    .burger span:nth-child(1) {
        width: 50%;
        align-self: flex-start;
    }

    .burger span:nth-child(3) {
        width: 50%;
        align-self: flex-end;
    }

    .burger-active {
        width: 22px;
        height: 22px;
        transform: rotate(-45deg);
    }

    .burger-active span:nth-child(1) {
        transform: rotate(-90deg) translateY(-50%);
        transform-origin: top right;
    }

    .burger-active span:nth-child(3) {
        transform: rotate(-90deg) translateY(50%);
        transform-origin: bottom left;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        font-size: 18px;
        line-height: 16px;
    }
}

/* main */

.home {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100%;
    max-height: 1080px;
}

.home .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.home .img-container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: url("/assets/home-bg.webp");
    background-position: top;
    background-attachment: fixed;
}

.home .title-container {
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.home .title-container::before {
    content: "";
    display: block;
    width: 40%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 48, 91, 0.65);
}

.home h2,
.home p {
    text-align: start;
}

.home p {
    font-size: 1.12rem;
}







.our-vision {
    background-color: var(--color-main-1);
    color: var(--color-1);
}

.our-vision h2,
.our-vision p {
    color: inherit;
    text-align: center;
}

.our-vision h2 {
    margin-bottom: 90px;
}

.our-vision p {
    margin: 1rem 0;
    font-size: var(--font-1);
}

.our-vision .img-container {
    height: 100vh;
    width: 100%;
    max-height: 770px;
    filter: sepia(20%) brightness(0.8) grayscale(0.2) contrast(0.85);
    background: url("/assets/team_bg.webp");
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}






.practice-areas .container {
    padding: 75px 0;
    position: relative;
}

.practice-areas .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.practice-areas .title-container::before {
    display: block;
    background-color: var(--color-main-4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* z-index: -1; */
}

.practice-areas .title-container h2 {
    text-align: start;
}

.practice-areas dl {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.practice-areas dl div {
    padding: 25px;
}

.practice-areas dt {
    font-size: var(--font-2);
    color: var(--color-main-1);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}

.practice-areas dt::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--color-main-3);
}

.practice-areas dd {
    padding-left: 30px;
    margin-top: 25px;
    font-size: 0.87rem;
    color: var(--color-main-2);
}







.attorneys {
    background-color: var(--color-main-4);
}

.attorneys .attorneys-content {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.attorneys .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 10px;
}

.attorneys .card hr {
    width: 100%;
    height: 3px;
    border: none;
    border-bottom: 1px solid var(--color-main-5);
    opacity: 0.5;
}

.attorneys .card img {
    height: 220px;
    width: 193px;
    object-fit: cover;
}

.attorneys .card h3 {
    letter-spacing: 0.03em;
    text-align: center;
}

.attorneys .card h3::after {
    content: "partner";
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-1);
    line-height: .5rem;
    color: var(--color-main-2)
}

.attorneys .card a {
    display: block;
    text-align: center;
}

.attorneys .card a[href*="tel:"]::before {
    content: "Tel: "
}

@media (max-width: 768px) {
    .attorneys .attorneys-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .attorneys .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .attorneys .card img {
        grid-row: span 2;
        width: 100%;
    }

    .attorneys .card hr {
        display: none;
    }

    .attorneys .card h3,
    .attorneys .card h3::after,
    .attorneys .card a {
        text-align: start;
        font-size: 1.5rem;
    }
}

@media (max-width: 525px) {
    .attorneys .attorneys-content {
        grid-template-columns: 1fr;
    }

    .attorneys .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .attorneys .card img {
        grid-column: span 2;
        width: 100%;
        height: 300px;
    }

    .attorneys .card hr {
        display: none;
    }

    .attorneys .card h3,
    .attorneys .card h3::after,
    .attorneys .card a {
        text-align: start;
        font-size: 1.2rem;
    }

    .attorneys .card h3::after {
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .attorneys .card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .attorneys .card img {
        grid-column: 1;
    }

    .attorneys .card h3,
    .attorneys .card h3::after,
    .attorneys .card a {
        text-align: start;
        font-size: var(--font-2);
    }

    .attorneys .card h3 {
        font-size: 2rem;
    }

    .attorneys .card h3::after {
        font-size: 1rem;
    }
}










/* footer */

footer p {
    color: var(--color-main-2);
    font-size: .85em;
}

footer a {
    text-decoration: underline;
    color: var(--color-main-2);
}

footer svg {
    fill: var(--color-main-2);
    width: 23px;
    height: 23px;
}

footer a:has(svg) {
    text-decoration: none;
}

footer a[href*='linkedin'] svg {
    fill: #0073B2;
}

footer a[href*='twitter'] svg {
    fill: #55ACEE;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container {
    padding: 39px 0;
}

footer .social-container {
    display: flex;
    gap: 10px;
}

.to-top-button_desktop {
    background-color: var(--color-main-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 22px 0;
}

.to-top-button_desktop svg {
    fill: var(--color-1);
    height: 21px;
}

.to-top-button_desktop span {
    text-transform: uppercase;
}

.chat-container {
    position: fixed;
    bottom: 0;
    right: 20px;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.3);
}

.chat-container button {
    background-color: var(--color-main-2);
    text-transform: uppercase;
    font-size: var(--font-2);
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {

    footer .wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 0;
        gap: 20px;
        width: 70%;
    }

    .chat-container {
        display: none;
    }

    .to-top-button_desktop {
        display: none;
    }
}